<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page Questions and Answers</title>
</head>
<body>
    <div class="non_field_errors">
        {% for e in form.non_field_errors %}
            <div class="non_field_error">
                {{ e }}
            </div>
        {% endfor %}
    </div>
    <form class="login_form" method="post" action="">
        {% csrf_token %}
        <fieldset>
            {% for field in form%}
                {% if field.errors %}
                    <div class="field_error">
                        {{ field.error }}
                    </div>
                {% endif %}
                <div class="login_form_field">
                    {{ field.label}} {{ field }}
                </div>
            {% endfor %}
        </fieldset>
        <div class="form_action">
            <button type="submit"> Signin </button>
        </div>
    </form>
</body>
</html>